@font-face {
    font-family: "MaterialIcons";
    src: url(https://github.com/google/material-design-icons/blob/master/iconfont/MaterialIcons-Regular.ttf);
}

body{
    background-color: #efefef;
}

header div {
    background-color: #363636;
    color:#fff;
}

header div img {
    width: 40px;
}

header div ul li {
    list-style:  none;
    margin-left: 20px;
}

main {
    color:#1d1e1f;
}


main div.row {
    height: 500px;
}

#shoe-container{
    margin:0;
}

#shoe-container p{
    height: 40px;
}

#model{
    font-size: 50px;
    text-align: right;
    font-weight: 700;
    font-style: normal;
}

#colour{
    font-size: 30px;
    text-align: right;
    font-weight: 700;
    font-style: normal;
}

#code-price-container {
    font-size: 35px;
    text-align: right;
    font-weight: 400;
    font-style: normal;
}

#raffles-container div {
    justify-content: center;

}

#raffles-container div img {
    max-width: 220px;
}

#raffles-container div p {
    text-align: center;
}

.buttonHovered {
    position: relative;
    bottom:3px;
    text-decoration: none !important;
    color:#fff !important;
}

.live {
    background: #8fbc8f;
    border-color: #8fbc8f;
    color:#fff;
    font-weight: bolder;
}

.liveHovered {
    background-color:#9fc69f;
    color:#fff;
    text-decoration: none !important;
}

.closedHovered {
    background-color:#ff574f;
    color:#fff;
    text-decoration: none !important;
}

.announcedHovered {
    text-decoration: none !important;
}

.live:hover, .closed:hover, .announced:hover {
    cursor: pointer;
}

.closed {
    background: #ff6f69;
    border-color: #ff6f69;
    color:#fff;
    font-weight: bolder;
}

.announced{
    background: #d5d0b0;
    border-color: #d5d0b0;
    color:#fff;
    font-weight: bolder;
}

#filters-container span {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding:10px;
}

#filters-container span.active {
    background-color: #68b058;
    color:#fff;
}

#filters-container span:hover{
    background-color: #68b058;
    color:#fff;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

[type=checkbox]:checked + [for^=check]:before{
    background: white;
    font-family: "MaterialIcons";
    content: '\E835';
    width:90px;
}